<mat-sidenav-container fullscreen class="sidenav-container" fxLayout="column" fxFill>
    <mat-sidenav mode="side" opened="true" class="sidenav-content">
        <div class="greeting-section">
            <h1>Welcome, {{ userDisplayName }}!</h1>
        </div>
        <mat-nav-list>
            <mat-list-item routerLink="dashboard" routerLinkActive="active primary-color">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h2 class="lead">Dashboard</h2>
                </div>
            </mat-list-item>
            <br />
            <mat-list-item routerLink="/retirement" routerLinkActive="active primary-color">
                <mat-icon mat-list-icon>insert_chart</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h2 class="lead">Retirement</h2>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="/budgeting" routerLinkActive="active primary-color">
                <mat-icon mat-list-icon>monetization_on</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h2>Budgeting</h2>
                </div>
            </mat-list-item>
            <mat-divider style="margin: 10px;"></mat-divider>
            <mat-list-item routerLink="/profile" routerLinkActive="active primary-color">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h2 class="lead">Profile</h2>
                </div>
            </mat-list-item>
            <mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>logout</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h2 class="lead">Logout</h2>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>