main{
    margin: auto;
    width: 50%;
}

table{
    width: 50%;
    margin: auto;
}

.button-container{
    margin: 16px;
    display: flex;
    justify-content: center;
}

button {
    margin: 16px 8px;
  }

.totalFooter{
    font-weight: bold;
}

.formField{
    margin:1rem;
}

.mat-column-amount{
    text-align: -webkit-right;
}

.mat-column-action{
    text-align: end;
}

.budget-submit{
    text-align: center;
}



.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

