.left{
    float: left;
    width: 50%;
    height: 100%;
}

.right{
    float: right;
    width: 50%;
}

.sum-header {
    color: primary;
}

.header {
    text-align: center;
    font-size: xx-large;
    padding: 25px;
}

.retire-number {
    padding: 20px;
    font-size: xx-large;
}