.form-container {
    height: 100%;
    padding-top: 25px;
}

.expense-tab {
    padding-top: 16px;
    text-align: center;
    width: 100%;
}

.income-tab {
    padding-top: 16px;
    margin: auto;
    width: 30%
}

.tabs {
    align-self: center;
    width: 60%;
}
