<main @fadeInOut>
    <div class="header">Dashboard</div>
    <div class="dashboard-container">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Retirement</mat-card-title>
                </mat-card-header>
                <div *ngIf="retirement" class="total-section">
                    <div class="retirement-number primary-color">
                        {{ retirement | slice:0:-3 }}
                    </div>
                    <div class="description-text">Projected savings at retirement</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around" class="retirement-container">
                    <div fxFlex="33" *ngIf="retirement" class="card-section">
                        <h2 class="bottom-number">
                            {{ retirementForm.startPrincipal | currency: 'USD' : 'symbol' : '1.0-0' }}
                        </h2>
                        <div class="description-text">Initial Balance</div>
                    </div>
                    <mat-divider vertical></mat-divider>
                    <div fxFlex="33" *ngIf="retirementForm" class="card-section">
                        <h2 class="bottom-number">${{ retirementForm.contributions }}</h2>
                        <div class="description-text">Monthly Contributions</div>
                    </div>
                    <mat-divider vertical></mat-divider>
                    <div fxFlex="33" *ngIf="retirement" class="card-section">
                        <h2 class="bottom-number">
                            {{ totalContributions | currency: 'USD' : 'symbol' : '1.0-0' }}
                        </h2>
                        <div class="description-text">Growth</div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Budget</mat-card-title>
                </mat-card-header>
                <app-budget-chart [expenseData]="expenses" [incomeData]="income"></app-budget-chart>
            </mat-card>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Expenses</mat-card-title>
                </mat-card-header>
                <app-expense-chart [data]="expenses"></app-expense-chart>
            </mat-card>
        </div>
    </div>
</main>