.formField{
    margin:1rem;
}

form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    padding: 10px 16px;
    text-align: center;
    margin: auto;
}
