<main @fadeInOut>
    <div class="header">Budgeting</div>
    <!-- TODO:  implement bar chart: one column stacked with expenses, other is income -->
    <!-- <div>
        <app-expense-chart fxLayoutAlign="center start" [data]="expenses"></app-expense-chart>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="center start" class="form-container">
        <app-income-form></app-income-form>
        <app-expense-form fxFlex="50" (expenseChanges)="displayExpenses($event)"></app-expense-form>
    </div>
</main>