.sidenav-container {
    position: absolute;
}

.sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }

mat-nav-list {
    margin-top: 50px;
}

.material-icons {
    line-height: .5;
    font-size: 40px;
}

.main-content {
    margin-top: 30px;
}

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between !important;
    padding: 20px;
}

.profile-section {
    text-align: center;
}