<main @fadeInOut>
    <div fxLayout="row" fxLayoutAlign="center center" class="container">
        <mat-card>
            <div class="card-header primary-color">
                <mat-card-title>Login</mat-card-title>
            </div>
            <div *ngIf="errorMsg" class="status-section warn-color">{{ errorMsg }}</div>
            <div *ngIf="successMsg" class="status-section primary-color">{{ successMsg }}</div>
            <form class="income-form" fxLayout="column" fxLayoutAlign="center"
                (ngSubmit)="submitLogin(); form.form.markAsPristine();" #form="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" [(ngModel)]="loginForm.username" #usernameControl="ngModel"
                        name="username" required>
                    <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)">
                        Enter username
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="loginForm.password" #passwordControl="ngModel" name="password"
                        [type]="hidePassword ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                        Enter password
                    </div>
                </mat-form-field>
                <button class="login-button" mat-raised-button color="primary" type="submit"
                    [disabled]="!form.form.valid || !form.form.dirty">Login</button>
            </form>
            <br>
            <br>
            <div class="signup-section" fxLayout="row" fxLayoutAlign="start center">
                <span>Don't have an account?</span>
                <span fxflex style="flex: 1 1 1e-09px;box-sizing: border-box;-webkit-box-flex: 1;"></span>
                <a mat-button (click)="openDialog()">Sign Up</a>
            </div>
        </mat-card>
    </div>
</main>